:root {
    --black: #111116;
    --white: #eee;
    --light-grey: #bbb;
    --pen-color: #222222;
}

body {
    font-family: Arial Black, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    color: var(--black);
}

header {
    margin: 10vh 0 10px 0;
    width: 400px;
}

/* Size selector */

#sketch-size {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 75px;
    height: 750px;
    padding: 0 10px;
    border: solid var(--light-grey);
    border-width: 7px 7px 7px 0;
    border-radius: 0 20px 20px 0;
    background-color: var(--white);
}

#clear {
    padding: 10px;
    width: 100%;
}

.size-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#slider-text-cont {
    display: flex;
    flex-direction: column;
    height: 120px;
}

#slider-size-cont{
    display: grid;
    grid-template-rows: 10% 80% 10%;
    gap: 0px;
    height: 300px;
    width: 70px;
}

#slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 10px;
    background: var(--light-grey);
    border: 0px solid var(--black);
    border-radius: 20px;
    transform: rotate(270deg);
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--black);
    border-radius: 20px;
    cursor: pointer;
}
  
#slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--black);
    border-radius: 20px;
    cursor: pointer;
}

#undo-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.undo {
    width: 40px;
    height: 50px;
}

.undoredo {
    width: 100%;
}


/* Grid/Sketch-Pad */

#main-cont {
    padding: 0;
}

#sketch-pad {
    width: 750px;
    height: 750px;
    background-color: var(--white);
    border: solid var(--light-grey);
    border-width: 7px 20px;
    display: grid;
}

.grid-pixels {
    background-color: var(--white);
}

.pixels-grid {
    border: 1px dotted var(--light-grey);
}

.pixels-no-grid {
    border: 0px dotted var(--light-grey);
}

/* Style Controls */

#controls-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 75px;
    height: 750px;
    padding: 0 10px;
    border: solid var(--light-grey);
    border-width: 7px 0 7px 7px;
    border-radius: 20px 0 0 20px;
    background-color: var(--white);
}

#color-cont {
    border: solid var(--light-grey);
    border-width: 0 10px 0 0;
}

#pen-color {
    height: 40px;
    width: 40px;
    border: 0;
}

#fill-img {
    width: 40px;
}

#pixel-size-cont {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.style-img {
    width: 40px;
    transition: 0.2s;
}

.style-img:hover {
    transform: scale(1.1);
}

.pen-size {
    width: 35px;
}

#fill-img {
    width: 45px;
}

#pen-img {
    height: 65px;
    width: 50px;
}

#eraser-img {
    height: 60px;
    width: 30px;
}

.controls {
    border: 0 solid var(--black);
    width: 40px;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-img {
    width: 40px;
}

label {
    font-size: 24px;
    font-weight: 900;
    margin-right: 10px;
}

#pen-color {
    border: 0;
}
/* Text */

h1 {
    font-size: 42px;
    margin: 0;
    letter-spacing: 0.3rem;
}

h2 {
    margin: 0;
    font-size: 24px;
}

h3 {
    margin: 0;
    font-size: 20px;
}