:root {
    --black: #222;
    --white: #eee;
    --light-grey: #aaa;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--black);
    color: var(--white);
    text-align: center;    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    color: var(--black);
}

/* Size selector */

#sketch-size {
    grid-template-columns: 160px 160px 160px 160px 160px;
    grid-template-rows: 50px;
    border-radius: 20px 20px 0 0;
    border: solid var(--light-grey);
    border-width: 20px 20px 0 20px;
    background-color: var(--light-grey);
}

.size-cont-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-cont {
    background-color: var(--white);
}

.size-cont:first-child {
    margin-left: 10px;
}

.size-select {
    background-color: var(--black);
    color: var(--white);
}

#clear {
    margin: 0 10px 0 20px;
    background-color: var(--white);
}

/* Grid/Sketch-Pad */

#sketch-pad {
    width: 800px;
    height: 800px;
    background-color: var(--white);
    border: solid var(--light-grey);
    border-width: 10px 20px;
    display: grid;
}

.grid-pixels {
    border: 1px dotted var(--light-grey);
    background-color: var(--white);
}

.grid-20 {
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.grid-40 {
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(40, 1fr);
}

.grid-60 {
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(60, 1fr);
}

.grid-80 {
    grid-template-columns: repeat(80, 1fr);
    grid-template-rows: repeat(80, 1fr);
}

/* Style Controls */

#controls-cont {
    grid-template-columns: 400px 400px;
    border: solid var(--light-grey);
    border-width: 0 20px 20px 20px;
    border-radius: 0 0 20px 20px;
    background-color: var(--light-grey)
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    height: 50px;
    margin: 0 10px;
}

#color-cont {
    border: solid var(--light-grey);
    border-width: 0 10px 0 0;
}

#pen-cont{
    justify-content: space-evenly;
    padding-left: 20px;
}

.style-img {
    height: auto;
    width: 70%;
    transition: 0.2s;
}

.style-img:hover {
    transform: scale(1.1);
}

/* Text */

h1 {
    font-size: 72px;
    margin: 36px 0;
}

h2 {
    margin: 0;
    font-size: 28px;
}

h3 {
    margin: 0;
    font-size: 24px;
}